.App {
  text-align: center;
}

.bg{
  /* background: #f9a826; */
  background-color: #e5e9ff82;
  clip-path: ellipse(54% 55% at 15% -5%);
  position: absolute;
  height: 80vh;
  width: 100vw;
  z-index: -1;
}
@media only screen and (max-width: 600px){
  .bg{
    clip-path: ellipse(69% 33% at 31% 0%);
  }
}